# 함수(function)

In [ ]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height = 50
width = 20

area = height * width 
perimeter = (height + width) * 2

print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')

In [ ]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height2 = 50
width2 = 50

area2 = height2 * width2 
perimeter2 = (height2 + width2) * 2

print(f'사각형의 면적은 {area2}이고 둘레는 {perimeter2}입니다.')

## 함수의 선언과 호출
- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```

- 호출
    - `func_name(parameter1, parameter2, ...)`

In [ ]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}입니다. 둘레는 {perimeter}입니다.')

In [ ]:
rectangle(50, 30)
rectangle(20, 100)

In [ ]:
dir(__builtins__)

In [ ]:
max(100, 2)

In [ ]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같습니다.')

In [ ]:
my_max(1, 2)
my_max(5, 2)
my_max(5, 5)

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [ ]:
result = my_max(1, 2)
print(result)

In [ ]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [ ]:
result = my_max2(1, 2)
print(result)

In [ ]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

            
my_for(5)

In [ ]:
def my_def(x):
    return x * 2, x

my_def(10)

In [ ]:
# version1 변수 추가할때마다 다시 더해야해서 불편함
def my_list_max(list1, list2):
    # List1 = [1, 2, 3]
    # List2 = [2, 3 ,4]

    sum_of_list1 = list1[0] + list1[1] + lsit1[2]
    sum_of_list2 = list2[0] + list2[1] + list2[2]

    if  sum_of_list > sum_of_list2:
        return list1
    else:
        return list2

In [ ]:
# version2
def my_list_max(list1, list2):
    sum_of_list1 = 0
    sum_of_list2 = 0

    for item in list1:
        sum_of_list1 = sum_of_list1 + item

    for item in list2:
        sum_of_list2 += item

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [ ]:
# version3
def my_list_max(list1, list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [ ]:
# version4
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

In [ ]:
my_list_max([1, 2, 3], [2, 3, 4])
# => [2, 3, 4]

### 함수의 인수

#### 위치인수
- 기본적으로 함수는 위치를 기준으로 인수를 판단합니다.

In [ ]:
def cylinder(r, h):
    return 3.14 * r** 2 * h

In [ ]:
cylinder(3, 10)

In [ ]:
cylinder(10, 3)

#### 기본값
```python
def func_name(p1=v1):
    code1
    return value
```

In [ ]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [ ]:
greeting()

In [ ]:
print('안녕하세요', '반갑습니다', sep='#', end='!!!\n')
print('저는 홍길동입니다')

In [ ]:
def greeting(name='익명', age):
    return f'{name}님의 나이는 {age}살입니다.'

In [ ]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [ ]:
greeting('길동', 10)
greeting(10)

#### 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 값을 전달

In [ ]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [ ]:
greeting(10, '길동')
greeting(10)
greeting(name='길동', age=10)

#### 가변인자 리스트
```python
def func_name(*parms):
    code
    ...
    return value

```

In [ ]:
print('1', '2', 'adf')

In [ ]:
def my_print(*words):
    print(words)

In [ ]:
my_print('my', 'name', 'is')

In [ ]:
max(1, 2, 3, 4, 5)

In [6]:
def my_max(*numbers):
    # max_num = 0
    max_num = numbers[0]
    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [7]:
my_max(1, 2, 3, 4, 5, 6, 7)

7

In [9]:
# max_num = 0 으로 설정했을경우 0이 나오는데 그 이유는 기준점이 이미 제시된 값보다 크기때문에 
my_max(-1, -2, -3, -4)

-1

### 정의되지 않은 키워드 인자 처리하기
```python
def func_name(**kwargs):
    return value

```

In [1]:
info = {
    'name' : 'hong',
    'age' : 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [2]:
info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [3]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='adsf')

{'asdf': '가나다', 'age': 123, 'test': 'adsf'}

In [4]:
def my_func(params1, params2='temp', *numbers, **kwargs):
    return 0

In [6]:
# my_func() => params1 부족하므로 실행안됨
my_func(123)
# => params1 = 123, params2 = 'temp'
my_func(123, 234)
# => params1 = 123, params2 = 234
my_func(123, 234, 345, 567, 789, 890)
# => params1 = 123, params2 = 234, numbers = (345, 567, 789, 890)
my_func(123, 234, 345, 567, 789, 890, a=1, b=2, c=3)
# kwargs = {a: 1, b: 2, c: 3}

0

### lambda 표현식 (임시함수, 익명함수)
```python
lambda parameter: expression
```

In [9]:
def my_sum(num1, num2):
    return num1 + num2

In [10]:
my_sum(1, 2)

3

In [14]:
(lambda num1, num2: num1 + num2)(1, 2)
# my_sum, return 생략됨
# lambda 함수의 장점은 빠르다(메모리에 올라가지않고 실행하면 실행 뒤 휘발됨)

3

### 타입힌트

In [15]:
def something(a: int, b: int) -> int:
    return a + b

something(1, 2)

3

In [16]:
something('asdf', 'qwqer')

'asdfqwqer'

### 이름공간(namespace), 스코프(scope)
python에서 사용하는 이름들은 이름공간에 저장되어있습니다. LEGB 룰에 따라 접근

1. Local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [19]:
result = str(123)
print(result)

123

In [26]:
str = 'hello'

In [27]:
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [28]:
del str

In [31]:
a = 1

def local_scope(a):
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [32]:
a = 1

def local_scope(b):
    return a

a = '가나다라'

local_scope('asdf')

'가나다라'

In [38]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [40]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    print(i)

1
2
3
4
5

In [42]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    print(i)
print(i)

1
2
3
4
5
5

In [43]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```

In [45]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [46]:
fact(10)

3628800

In [47]:
# 피보나치 수열
def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [48]:
fib(5)

8